
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background-color: white;
  min-height: 100vh;
}

/* GroupBySelector.css */

.group-by-selector {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #ccc;
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
}

.dropdown label {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  cursor: pointer;
}

.dropdown label:hover {
  background-color: #eee;
}

.dropdown-content {
  position: absolute;
  list-style-type: none;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  width: 10rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: #000;
}

.dropdown-content a:hover {
  background-color: #eee;
}


/* Ticket.css */

.ticket {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}

.ticket .flex-col {
  display: flex;
  flex-direction: column;
  width: 16.6667%; /* 1/6 of the width */
  margin: 1rem;
  /* margin-left: 2rem; */
}

.ticketh4{
  margin-left: 1.5rem;
}


/* TicketArray.css */

.card {
  width: 100%;
  margin: 1rem;
  padding: 0.75rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.userId {
  color: #888;
}

.title {
  margin-top: 0.5rem;
  font-weight: bold;
}

.tag {
  border: 1px solid #e2e2e2;
  width: 8rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}


.app{
  background-color: white;
  min-width: 100vw;
}

.Home-Title{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 1rem;
  font-size: 2rem;
}

.home-body{
  background-color: rgb(236, 235, 235);
}